.my-list {
    background-color: #ae7514;
    padding: 8px 24px;
    width: 500px;
    text-align: center;
    font-size: 30px;
    border: 1px solid #9e6413;
    box-shadow: 0 0 10px 2px #333333;
  }

  ol {
    margin: 12px;
  }